<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> c l a y </title>
    <link rel="stylesheet" type="text/css" href="/magnifier.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1><em>Clay</em></h1>
    <div id="menubar">
      {% for imagedir in imagedirs %}
        <h2><a href="/{{ imagedir.name }}">{{ imagedir.name }}</a></h2>
      {% endfor %}
      <h2><a href="/about">about / contact</a></h2>
    </div>
    <div id="center-column">
      <div id="art-holder">
        {% for path in sorted(imdir.iterdir()) %}
          {% if path.name != 'index.html' %}
            <div class="image-holder">
              <div class="magnifier-thumb-wrapper">
                <img
                  class='art'
                  src='/{{ path.relative_to(path.parent.parent) }}'
                  id='{{ path.name.split('_')[1] }}'
                >
              </div>
              <p class="caption">{{ title(path.name) }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  <script type="text/javascript" src="/Event.js"></script>
  <script type="text/javascript" src="/Magnifier.js"></script>
  <script type="text/javascript">
    var evt = new Event(),
    m = new Magnifier(evt);
    pics = document.getElementById("art-holder").getElementsByClassName("art");
    for (i=0; i<pics.length; i++) {
      console.log(pics[i])
      m.attach({
        thumb: '#' + pics[i].id,
        /* large: pics[i].src, */
        mode: 'inside',
        zoom: 3
        /* zoomable: true */
      });
    }
  </script>
  </body>
</html>
